/* responsive for mobile device */

@media screen and (max-width: 576px) {

    body .nav-container .header-container .header-content{
        
        margin: 30px auto;
        padding: 0 10px;
        width: 100%;
        
    }
    .nav-icon{
        display: block;
    }

    .nav-lists{
        display: none;
    }

    .header-container{
        flex-direction: column;
    }
}