@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:wght@100..900&family=Monsieur+La+Doulaise&display=swap');





*{  
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
   
}

/* ***********reusable styles******* */

h1{
    font-size: 4.1rem;
    line-height: 1;
}

h2{
    font-size: 2.4rem;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 14px;
    
}
p{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
}

.description{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.4px;
    line-height: 1.8;
   
}

.btn{
    background-color: #E6533C;
    border-radius: 42px;
    padding: 10px 40px;
    color: #fff;
    border: transparent;
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    margin: 28px 10px 10px 0;
}

.flex{
    display: flex;
    gap: 12px;
}

.change-habit-section,
.run-container,
.team-container{
    max-width: 1000px;
    margin: 90px auto;
    
}

/* header styles */

header{
    width: 100%;
    background-image: linear-gradient(rgba(17, 17, 17, 1), rgba(22, 22, 22, 0.955), rgba(119, 119, 119, 0));
}

.nav-container{
    display: flex;
    justify-content: space-between; 
    gap: 80px; 
    padding: 0 190px;
    padding-top: 57px;
}

.brand-name{
    font-size: 2rem;
    color: #E6533C;
    font-weight: 900;
    font-style: italic;
}
.nav-lists{
    display: flex;
    gap: 47px;
    align-items: center;
    font-size: 1rem;
    font-weight: 300;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 37px;
    padding: 2px 20px 2px 2px;
}

.nav-list{
    list-style: none;
   
}
.nav-list:first-child{
    background-color: #E6533C;
    padding: 8px 20px;
    border-radius: 44px;
    border: none;
   
}
.nav-link{
    text-decoration: none;
    color: #fff;
}

.nav-items{
    display: flex;
    align-items: center;
}

.nav-icon{
    width: 24px;
    height: 24px;
    display: none;
}

.header-container{
    display: flex;
    margin-top: 30px;
    gap: 120px;
    padding: 0 190px;
}

.header-content{
    padding: 90px 78px 74px 0;
}


.shape{
    font-family: "Monsieur La Doulaise", cursive;
    font-weight: 300;
    font-size: 4.9rem;
    letter-spacing: 4px;
}

/* .header-content p{
    
    margin: 1.4rem 0;
} */

.btn-download{
    background-color: transparent;
    border: 1px solid #ffffffdb;
}

.content{
    max-width: 200px;
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(40px);
    padding: 14px 30px;
    border: 1px solid rgba(255, 255, 255, 0.054);
    border-radius: 12px;
    align-items: center;
    justify-content: center;

}

.header-image{
    position: relative;
}
.content-1{
    position: absolute;
    top: 22%;
    right: -10%;
    
}

.content-2{
    position: absolute;
    bottom: 12%;
    left: -28%;
}

.content p{
    margin-top: 6px;
}

.red-ball{
    height: 30px;
    width: 30px;
    background-color: #E6533C;
    border-radius: 50%;
}


/* change habit section */

.change-habit-header{
    padding: 0 280px;
    text-align: center;
    
}

.change-habit-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 24%;
    margin: 0 auto;
    margin-top: 58px;
    text-align: center;
    justify-content: center;
}



.habit-title{
    font-size: 1rem;
    margin: 5px 0;
    font-weight: 500;
}

.change-habit-img{
    padding: 0 20px;
    margin-bottom: 28px;
}

.habit-img{
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;  
}

.habit-content{
    text-align: center;
}

/* *************
    running extra styles
    **************** */

   .run-container{
    background-color: rgba(34, 34, 34, 1);
    border-radius: 18px;
    display: flex;
    gap: 110px;
   } 

   .run-content{
    padding: 50px;
   }

   .run-image{
    padding: 30px;  
    max-width: 340px;
   }

   .run-img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: 100% 100%;
    border-radius: 18px;
    /* width: 300px;
    height: 300px; */
    
   }


   /* *********************
          bmi calculator styles
    ***************************** */
    
    .bmi-calculator{
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 80px;
    }


    .calculator-content{
        background-color: #222222;
        display: flex;
        gap: 140px;
        justify-content: space-around;
        padding: 53px 190px;
    }

    

    .calculator-title{
        font-size: 1.4rem;
   }

    .table{
        border-collapse: collapse;
        margin-top: 40px;
    }

    th{
        font-size: 0.9rem;
        font-weight: 500;
        padding: 16px 20px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        text-align: left;
        
    }

    td{
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 10px 20px;
    }

    .form-1{
        max-width: 520px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
    }

    .calculator-form-content, .form-2{
        max-width: 520px;
    }
    
    input{
        font-size: 0.9rem;
        padding: 12px 34px 12px 20px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        border: none;
        color: #fff;
       
    }  
    

    form .btn-icon{
        position: relative; 
    }

    .icon-parent{
        padding: 12px 0 12px 20px;
        border-radius: 8px 0 0 8px;
        
    }

    .calculator-icon{
        position: absolute;
        padding: 12px 14px 12px 8px;
        font-size: 0.9rem;
        font-weight: 600;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 0 8px 8px 0;
        border: none;
        color: #fff;  
    }

    .div-5{
        position: relative;
        margin-top: 12px;
    }

    .div-5 input{
        display: inline-block;
        width: 90%;
        font-size: 0.9rem;
        padding: 12px 0 12px 20px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 8px 0 0 8px;
        border: none;
    }

    .span-icon{
        position: absolute;
        padding: 12px 14px 12px 2px;
        font-size: 0.9rem;
        font-weight: 600;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 0 8px 8px 0;
        border: none;
        color: #fff;
        
    }

    .form-description{
        margin: 10px 0 28px 0;
    }


    /* ***************
          Team Section Styles 
    **************************/

    .trainer-name{
        font-size: 1.1rem;
        font-weight: 600;
    }

    .team-header{
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
    }

    .team-content{
        background-color: rgba(255, 255, 255, 0.1);
        padding: 20px;
        border-radius: 18px;
        margin-top: 54px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .trainer-img{
        width:100%;
        height: 272px;
        border-radius: 18px;
        opacity: 0.7;
    }

    .team-image{
        position: relative;
    }

    .image-content{
        position: absolute;
        bottom: 12px;
        left: 20px;
    }


    /* ******************
          footer section styles
    ****************************** */
     footer{
        background-color: rgba(255, 255, 255, 0.1);
     }

     .footer-container{
        padding: 57px 190px;
        /* padding-top: ; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 102px;
     }

     .footer-1{
        max-width: 400px;
        padding-right: 4px;
     }

    .footer-1-title{
        font-size: 3.4rem;
        font-weight: 900;
        font-style: italic;
        color: #E6533C;
        margin-bottom: 20px;
    }

    .footer-2{
         display: flex;
         gap: 148px;
    }

    .get-started-title{
        font-size: 1.34rem;
        font-weight: 600;
        margin-bottom: 28px;
    }

    .started-link{
        text-decoration: none;
        color: rgba(255, 255, 255, 0.5);
        font-size: 1.03rem;
        font-weight: 300;
    }

    .get-started ul li{
        list-style: none;
        margin-bottom: 10px;
    }

    hr{
        border: none;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.1);
        margin: 0 50px;
    }

    .copyright-text{
        font-size: 1rem;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.5);
        margin: 34px auto;
        padding-bottom: 37px;
        text-align: center;
    }



    

    

   
    